@use '../../../variaveis' as *;
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 25px;

    p.nome{
        font-weight: 700;
        font-size: 30px;
    }
    p.profissao{
        font-weight: 300;
        font-size: 20px;
    }
    .menu-btn {
        width: 35px;
        height: 25px;
        position: relative;
        cursor: pointer;
        z-index: 1000;

            span {
                position: absolute;
                width: 100%;
                height: 4px;
                background: black;
                left: 0;
                transition: 0.3s ease;
            }

            span:nth-child(1) {
                top: 0;
            }

            span:nth-child(2) {
                top: 10px;
            }

            span:nth-child(3) {
                top: 20px;
            }

            &.active {

                span:nth-child(1) {
                    transform: rotate(45deg);
                    top: 10px;
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 10px;
                }

            } 
}
}

.menu-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: #E6DACE; 
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;

  z-index: 999;
}

.menu-full.open {
  transform: translateY(0);
}

.menu-full ul {
  list-style: none;
  text-align: center;
}

.menu-full li {
  margin: 20px 0;
}

.btnsNav{
    background: none;
    border: none;

    color: $Azul-Secundaria;
    font-size: 24px;
}

