<section>
    <div>
         <p class="nome">
            🟦 Paulo Vitor
        </p>

        <p class="profissao">
            DESENVOLVEDOR WEB
        </p>
    </div>
   

    <div class="menu-btn" [class.active]="menuAberto" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>

<nav class="menu-full" [class.open]="menuAberto">
  <ul>
    <li><button class="btnsNav" routerLink="/home" (click)="toggleMenu()">Sobre</button></li>
    <li><button class="btnsNav" routerLink="/projetos" (click)="toggleMenu()">Projetos</button></li>
    <li><button class="btnsNav" routerLink="/curriculo" (click)="toggleMenu()">Curriculo</button></li>
    <li><button class="btnsNav" routerLink="/contato" (click)="toggleMenu()">Contato</button></li>
  </ul>
</nav>