<app-nav-bar class="off"></app-nav-bar>

<form (ngSubmit)="enviarEmail()">

<section class="Desktop">
    <div class="FormularioContainer">

        <div class="Identificacao">
            <div>   
                <p>Nome<span> *</span></p>
                <p>Sobrenome<span> *</span></p>
            </div>
            <div>
                <input type="text" name="nome" [(ngModel)]="form.nome">
                <input type="text" name="sobrenome" [(ngModel)]="form.sobrenome">
            </div>
        </div>

        <div class="Assunto">
            <div class="div1">
                <p>E-mail<span> *</span></p>
                <input type="email" name="email" [(ngModel)]="form.email">
            </div>
            
            <div class="div2">
                <p>Assunto<span> *</span></p>
                <input type="text" name="assunto" [(ngModel)]="form.assunto">
            </div>
            
            <div class="div3">
                <p>Mensagem<span> *</span></p>
                <input type="text" name="mensagem" [(ngModel)]="form.mensagem">
            </div>
            
            <button class="btnAzul" type="submit">
                Enviar
            </button>
        </div>         
    </div>
</section>

</form>




<app-navbarmobile class="Mobile"></app-navbarmobile>
<section class="Mobile">
    <div class="FormularioContainer">

        
            <div class="FormsObjetos"> 
                 <div>
                    <p>Nome<span> *</span></p>
                </div>
                <div>
                    <input type="text">
                </div>

                <div>
                    <p>Sobrenome<span> *</span></p>
                </div>

                <div>
                    <input type="text" name="" id="">
                </div>

                <div class="div1">
                    <p>E-mail<span> *</span></p>
                    <input type="email" name="" id="">
                </div>

                <div class="div2">
                    <p>Assuntno<span> *</span></p>
                <input type="text" name="" id="">
                </div>

                <div class="div3">
                    <p>Menssagem<span> *</span></p>
                    <input type="text">
                </div>

                <button class="btnAzul" type="submit">
                    Enviar
                </button>
            </div> 
                 
        </div>
    
        
</section>

<app-footer ></app-footer>
