@use '../../../variaveis' as *;
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $Fundo-Primaria;
    padding: 50px;

    div.pai{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        
        gap: 50px;
        
            h2{
                color: $Azul-Secundaria;
            }

            h4{
               color: #000000;
            }
            p{
                text-align: justify;
                hyphens: auto;
                
                line-height: 1.3;
                font-size: 0.8rem;
                color: #000000;
                letter-spacing: 0.2px;
        }
    
        
}
}
