<app-nav-bar></app-nav-bar>

<section>

    <h1></h1>

    <p>
        Sou um parágrafo. Aqui você pode adicionar e editar seu
        próprio texto. É fácil, basta clicar em "Editar texto"
        ou clicar duas vezes sobre mim. Você também pode
        alterar a fonte e mais. Sou um ótimo lugar para você
        compartilhar a sua história.
    </p>

    <div curriculoDirective *ngFor="let projeto of projetos$ | async">
        
        <div class="pai">

            <div>
                <h2>{{ projeto.nome }}</h2>
                <h4>{{ projeto.funcao }} - {{ projeto.ano }}</h4>
            </div>

            <div>
                <p>{{ projeto.descricao }}</p>
            </div>

        </div>

        <img [src]="'assets/' + projeto.imagemUrl" alt="{{ projeto.nome }}">

    </div>

</section>