<app-nav-bar class="off"></app-nav-bar>

<section class="Desktop">

    <h1>
        {{ titulo }}
    </h1>

    <div class="containerCV">
        <p class="textosXP">
            Experiência
        </p>

        <button class="btnAzul">
            BAIXAR CV
        </button>
    </div >

    <div curriculoDirective>
        <div class="pTitulo">
            <p class="pData"> 
                2025 - Atual
            </p>
            <p class="pCargo">
                Desenvolvedor Fullstack
            </p> 
            <p class="pEmpresa">
                
            </p>
        </div>

        <div class="pDescricao">
             <p>
                Desenvolvimento de API REST com .NET e Entity Framework Core, utilizando arquitetura em camadas e DTOs. Implementação de CRUD assíncrono, filtros com LINQ e mapeamento de dados. Integração com Angular via HttpClient e versionamento com Git, seguindo boas práticas de código limpo.
            </p>
        </div>
    </div>

    <p class="textosXP">
        Formação
    </p>

    <div curriculoDirective>
        <div class="pTitulo">
            <p class="pData"> 
                2024 - 2026
            </p>
            <p class="pCargo">
                Análise e Desenvolvimento de Sistemas
            </p> 
            <p class="pEmpresa">
                Uniasselvi
            </p>
        </div>

        <div class="pDescricao">
             <p>
                Estudante de Análise e Desenvolvimento de Sistemas com foco em aplicações escaláveis e organizadas. Experiência em POO, algoritmos, banco de dados, criação de APIs e integração front-end/back-end, aplicando boas práticas de engenharia de software.
            </p>
        </div>
    </div>

    <p class="textosXP">        
        Habilidades profissionais
    </p>

    <div class="habilidades" curriculoCDirective>
        <div class="pTitulo">
            <h2>
                Tecnologias
            </h2>
            <div class="Tecnologias">
                <img src="../assets/html.png" alt="">
                <img src="../assets/css-3.png" alt="">
                <img src="../assets/js.png" alt="">
                <img src="../assets/typescript.png" alt="">
                <img src="../assets/angular.png" alt="">
                <img src="../assets/vs.png" alt="">
                <img src="../assets/c-sharp.png" alt="">
            </div>
        </div>
    </div>
</section>


<app-navbarmobile></app-navbarmobile>
<section class="Mobile">

    <h1>
        {{ titulo }}
    </h1>

    <div class="containerCV">
       <p class="textosXP">
            Experiência
        </p>

        <button class="btnAzul">
            BAIXAR CV
        </button>
    </div >

    <div class="curriculoTemplate">
        <div class="pTitulo">
            <p class="pData"> 
                2025 - Atual
            </p>
            <p class="pCargo">
                Desenvolvedor Fullstack
            </p> 
            <p class="pEmpresa">
                
            </p>
        </div>

        <div class="pDescricao">
             <p>
                Desenvolvimento de API REST com .NET e Entity Framework Core, utilizando arquitetura em camadas e DTOs. Implementação de CRUD assíncrono, filtros com LINQ e mapeamento de dados. Integração com Angular via HttpClient e versionamento com Git, seguindo boas práticas de código limpo.
            </p>
        </div>
    </div>

    <p class="textosXP">
        Formação
    </p>

    <div class="curriculoTemplate">
        <div class="pTitulo">
            <p class="pData"> 
                2024 - 2026
            </p>
            <p class="pCargo">
                Análise e Desenvolvimento de Sistemas
            </p> 
            <p class="pEmpresa">
                Uniasselvi
            </p>
        </div>

        <div class="pDescricao">
             <p>
                Estudante de Análise e Desenvolvimento de Sistemas com foco em aplicações escaláveis e organizadas. Experiência em POO, algoritmos, banco de dados, criação de APIs e integração front-end/back-end, aplicando boas práticas de engenharia de software.
            </p>
        </div>
    </div>

    <p class="textosXP">        
        Habilidades profissionais
    </p>

    <div class="habilidades ">
        <div class="pTitulo2">
            <h2>
                Tecnologias
            </h2>
            <div class="Tecnologias">
                <img src="../assets/html.png" alt="">
                <img src="../assets/css-3.png" alt="">
                <img src="../assets/js.png" alt="">
                <img src="../assets/typescript.png" alt="">
                <img src="../assets/angular.png" alt="">
                <img src="../assets/vs.png" alt="">
                <img src="../assets/c-sharp.png" alt="">
            </div>
        </div>
    </div>
</section>

<app-footer class="off"></app-footer>