section{
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
   

    div.Contatos{
        display: flex;
        gap: 10px;
    }
}

@media(max-width: 830px){
        section{
            background-color: #FFF;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 50px;
   

    div.Contatos{
        display: flex;
        flex-direction: column;
       
        gap: 10px;
    }
}
}